name: nix

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-25.11
    - name: Build
      run: nix-shell --pure --command "cargo build --all-features"

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-25.11
    - name: Run tests
      run: nix-shell --pure --command "cargo test --all-features"

  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-25.11
    # needed to have all packages code-generated for fmt
    - name: Run cargo check
      run: nix-shell --pure --command "cargo check --all"
    - name: Run cargo fmt
      run: nix-shell --pure --command "cargo fmt --all -- --check"

  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-25.11
    - name: Run coverage
      run: nix-shell --pure --command "cargo tarpaulin --out Lcov --out Html --workspace --all-features"
    - name: Upload HTML coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-html
        path: tarpaulin-report.html
    - name: Upload LCOV file
      uses: actions/upload-artifact@v4
      with:
        name: coverage-lcov
        path: lcov.info
